fastapi
sqlalchemy
uvicorn

# Datenbank
# pymysql ist Synchronous
aiomysql # ist asynchronous

# alembic

# Schema
pydantic
pydantic-settings

# Logging
loguru

# db_populate
databases

# Externe Service-Aufrufe
httpx

# Tests
pytest
pytest-asyncio

# Keycloak
fastapi-keycloak

# für skuCode generator:  um Sonderzeichen und Akzente zu entfernen und den Namen in ASCII zu konvertieren.
unidecode

python-dotenv

# Importieren von aiofiles für asynchrone Dateioperationen
aiofiles