fastapi
sqlalchemy
uvicorn

# Datenbank
# pymysql ist Synchronous
aiomysql # ist asynchronous

# alembic

# Schema
pydantic
pydantic-settings

# Logging
loguru

# db_populate
databases

httpx

# Tests
pytest
pytest-asyncio

# Keycloak
fastapi-keycloak
